<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:node_id) %></th>
    <td><%=h safe{@item.node.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%=h @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%=h @item.title %></td>
  </tr><tr>
    <th><%= @item.locale(:size) %></th>
    <td><%= @item.eng_unit %><br /><%= @item.image_size %></td>
</table>

<%= creator_view @item %>
