<%= init_tiny_mce :readonly => true %>
<p class="form">基本情報</p>

<table class="show">
  <%= node_base_view @item, :container => :tr %>
</table>

<table class="show" style="margin: 0px;">
  <tr>
    <th><%= @item.locale(:body) %></th></tr><tr>
    <td class="mceEditor"><%= text_area_tag 'viewBody', @item.body, :class => 'mceEditor' %></td>
  </tr>
</table>

<% if !@item.mobile_title.blank? || !@item.mobile_body.blank? %>
<br /><p class="form">携帯向け</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:mobile_title) %></th>
    <td><%= hbr @item.mobile_title %></td>
  </tr><tr>
    <th><%= @item.locale(:mobile_body) %></th>
    <td><%= hbr @item.mobile_body %></td>
  </tr>
</table>
<% end %>

<%= inquiry_view @item %>
<%= task_view @item %>
<%= recognizer_view @item %>
<%= creator_view @item %>
