<%= init_tiny_mce %>

<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= f.radio_buttons :state, [["公開","public"],["非公開","closed"]], :class => 'states' %></td>
  </tr><tr>
    <th><%= @item.locale(:event_date) %> <span class="note">※</span></th>
    <td><div class="fieldDatetime"><%= f.calendar_date_select :event_date, :class => 'date' %></div></td>
  </tr><tr>
    <th><%= @item.locale(:title) %> <span class="note">※</span></th>
    <td><%= f.text_area :title, :style => "width: 80%; height: 2.5em;" %></td>
  </tr><tr>
    <th><%= @item.locale(:event_uri) %></th>
    <td><%= f.text_field :event_uri, :class => 'url' %></td>
  </tr>
</table>

<%= creator_form f %>
