<%

map     = item.maps.find(:first)
markers = map ? map.markers : []
return render(:text => "") unless map
return render(:text => "") if map.map_lat.blank? || map.map_lng.blank?

map_key = Core.mode =~ /^(public|preview)$/ ? Page.site.map_key : Core.map_key
map_key = Core.map_key if Core.request_uri =~ /^\/_preview\//

%><div class="maps">
  <h2>地図</h2>
  <script type="text/javascript" src="/_common/modules/cms/js/map.js"></script>
  <script type="text/javascript">ArticleMap.init('<%= map_key %>');</script>
  <script type="text/javascript">
  //<![CDATA[
  var map = new ArticleMap('map1', <%=h map.map_lat %>, <%=h map.map_lng %>, <%=h map.map_zoom %>);
  <% markers.each do |marker| %>
  map.addMarker(<%= marker.js_params %>);
  <% end %>
  //]]>
  </script>
  <%= "<h3>#{map.title}</h3>" if !map.title.blank? %>
  <div id="map1" class="map" style="width: 600px; height: 300px"></div>
</div>
