<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title><%= Core.title %></title>
<%= stylesheet_link_tag '/_common/themes/admin/style', :media => 'all' %>
<%= javascript_include_tag '/_common/js/prototype' %>
<%= javascript_include_tag '/_common/modules/cms/js/admin/form.js' %>
<%= javascript_include_tag '/_common/modules/cms/js/admin/navi.js' %>
<%= stylesheet_link_tag '/_common/css/calendar_date_select/default.css' %>
<%= javascript_include_tag '/_common/js/calendar_date_select/calendar_date_select.js' %>
<%= javascript_include_tag '/_common/js/calendar_date_select/locale/ja.js' %>
<%= javascript_include_tag '/_common/js/calendar_date_select/format_iso_date.js' %>
</head>
<body>

<div id="container">

<div id="header">
<div id="headerContainer">

  <h1><a href="/_admin">Joruri</a></h1>
  <div class="menu">
    <span class="user"><%= safe{Core.user_group.name} %>　<%=h safe{Core.user.name_with_account} %></span>
    <a class="web" href="<%= Core.site.full_uri %>" target="_blank">公開画面</a>
    <a class="logout" href="/_admin/logout">ログアウト</a>
  </div>

<!-- /#headerContainer --></div>
<!-- /#header --></div>

<div id="banner">
<div id="bannerContainer">

<!-- /#bannerContainer --></div>
<!-- /#banner --></div>

<div id="navi">
<div id="naviContainer">

  <table><tr><td class="selector">
    <div class="site">
      <%= render :partial => 'layouts/admin/cms/site' %></div>
    <div class="concept">
      <p id="naviConceptCurrent" onclick="Cms_Admin_Navi.showNavi();">
        <%= safe{h(Core.concept.name)} %></p></div>
  </td><td class="menu">
    <%= render :partial => controller.controller_path + '/header' %></td>
  </tr></table>

<!-- /#naviContainer --></div>
<!-- /#navi --></div>

<div id="main">

<div id="content">
<div id="contentContainer">

<div id="contentHeader"><% dir = "#{Rails.root}/app/views/#{controller.controller_path}" %>
  <% if FileTest.exist?("#{dir}/_menu.html.erb") %>
  <%= render :partial => controller.controller_path + '/menu' %>
  <% end %>
</div>

<div id="contentBody">
<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<%= yield  %>
</div>

<div id="contentFooter"></div>

<!-- /#contentContainer --></div>
<!-- /#content --></div>

<div id="menu">
<div id="menuContainer">

<%= render :partial => 'layouts/admin/cms/menu/concept' %>

<!-- /#menuContainer --></div>
<!-- /#menu --></div>

<!-- /#main --></div>

<div id="footer">
<div id="footerContainer">

<%#= :footer %>

<!-- /#footerContainer --></div>
<!-- /#footer --></div>

<!-- /#container --></div>

</body>
</html>
