<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%=h safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%=h @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%=h @item.title %></td>
  </tr>
  <%= layout_view @item, :container => :tr %>
  <tr>
    <th><%= @item.locale(:zip_code) %></th>
    <td><%=h @item.zip_code %></td>
  </tr><tr>
    <th><%= @item.locale(:address) %></th>
    <td><%=h @item.address %></td>
  </tr><tr>
    <th><%= @item.locale(:tel) %></th>
    <td><%=h @item.tel %></td>
  </tr><tr>
    <th><%= @item.locale(:site_uri) %></th>
    <td><%=h @item.site_uri %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%=h @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
