<table class="show">
  <tr>
    <th><%= @item.locale :unit_uri %></th>
    <td><%= f.text_field :unit_uri %></td>
  </tr><tr>
    <th><%= @item.locale :category_uri %></th>
    <td><%= f.text_field :category_uri %></td>
  </tr><tr>
    <th><%= @item.locale :attribute_uri %></th>
    <td><%= f.text_field :attribute_uri %></td>
  </tr><tr>
    <th><%= @item.locale :area_uri %></th>
    <td><%= f.text_field :area_uri %></td>
  </tr><tr>
    <th><%= @item.locale :tag_uri %></th>
    <td><%= f.text_field :tag_uri %></td>
  </tr>
</table>
