<table class="show">
  <tr>
    <th><%= @item.locale(:in_group_id) %></th>
    <td><%= safe{@item.group.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:account) %></th>
    <td><%=h @item.account %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%=h @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:name_en) %></th>
    <td><%=h @item.name_en %></td>
  </tr><tr>
    <th><%= @item.locale(:email) %></th>
    <td><%=h @item.email %></td>
  </tr><tr>
    <th><%= @item.locale(:state) %></th>
    <td><%=h @item.status.name %></td>
  </tr><tr>
    <th><%= @item.locale(:auth_no) %></th>
    <td><%=h @item.auth_name %></td>
  </tr><tr>
    <th><%= @item.locale(:role_name) %></th>
    <td><%=h @item.role_names.collect{|r| r.title}.join('，') %></td>
  </tr>
</table>

<br />

<table class="show">
  <tr>
    <th><%= @item.locale(:ldap) %></th>
    <td><%=h @item.ldap_label %></td>
  </tr><tr>
    <th><%= @item.locale(:password) %></th>
    <td><%=h @item.password %></td>
  </tr>
</table>
