<%

map     = item.maps.find(:first)
markers = map ? map.markers : []
return render(:text => "") unless map
return render(:text => "") if map.map_lat.blank? || map.map_lng.blank?

map_key = (Core.mode.to_s == 'publish') ?  Page.site.map_key : Core.map_key

%><br />

<p class="form">地図</p>

<script type="text/javascript" src="/_common/modules/cms/js/map.js"></script>
<script type="text/javascript">ArticleMap.init('<%= map_key %>');</script>
<script type="text/javascript">
//<![CDATA[
var map = new ArticleMap('map1', <%=h map.map_lat %>, <%=h map.map_lng %>, <%=h map.map_zoom %>);
<% markers.each do |marker| %>
map.addMarker(<%= marker.js_params %>);
<% end %>
//]]>
</script>

<div style="padding: 0px 10px;">
  <%= "#{h(map.title)}<br />" if !map.title.blank? %>
  <div id="map1" style="width: 600px; height:300px"></div>
</div>
